@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon_rails/icomoon.eot?5mo2a0');
  src: font-url('icomoon_rails/icomoon.eot?5mo2a0#iefix') format('embedded-opentype'),
  font-url('icomoon_rails/icomoon.ttf?5mo2a0') format('truetype'),
  font-url('icomoon_rails/icomoon.woff?5mo2a0') format('woff'),
  font-url('icomoon_rails/icomoon.svg?5mo2a0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "icomoon_rails/icons";
